h1 {
  color: rgba(2, 91, 245, 0.966);
}
.header {
  font-family Arial, Helvetica, sans-serif;
  padding: left;
  padding:


   background-color:  rgb(0, 255, 34);
   
   }
ul {
  display: inline;
  Color: bleu;
  align-content: center; 
}